<template>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <table id="example2"
                           class="table table-striped vertical"
                           role="grid">
                        <tbody>
                        <div style="max-height: calc(100vh - 300px); overflow-y: scroll;display: block">
                            <tr v-for="(language, index) in data" :index="index">
                                <td>{{index+1}}</td>
                                <td>{{ language.key }}</td>
                                <td>{{ language.value }}</td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <div style="max-height: calc(100vh - 300px); overflow-y: scroll">
                        <div>
                            <ItemRow v-for="(language, index) in data" :language="language" :index="index"/>
                        </div>
                    </div>
                    <div>
                        <a-button type="primary" @click="addRow()">Thêm 1 hàng</a-button>
                        <span> vào trước hàng </span>
                        <a-input v-model="afterAdd" style="width: 100px"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import ItemRow from './ItemRow.vue';

export default {
    name: 'languageIndex',
    data: function () {
        return {
            afterAdd: 0
        };
    },
    components: {
        ItemRow
    },
    created() {

    },
    mounted: function () {
        console.log(this.data);
        this.afterAdd = this.data.length + 1;
    },
    props: ['data'],
    methods: {
        filterOption(input, option) {
            return (
                option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
            );
        },
        addRow() {
            this.data.splice(this.afterAdd - 1, 0, {
                key: 'Nhập key',
                value: "nhap noi dung"
            });
            this.afterAdd = this.data.length + 1;
        },
        delRow(index) {
            this.data.splice(index, 1);
            this.afterAdd = this.data.length + 1;
        },
    }
}
</script>
